{% extends "base.html" %}
{% block title %}WELCOME TO MONDAY MEDIA BLOG 2024 {% endblock %}


        {% block content %}

        <div class="container">

<!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
        <!-- card content code goes here -->
<!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
        <div class="card-body">

<!-- This code will display the time and date -->
<!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
        <!-- card content code goes here -->   <!-- This code will display the time and date -->
<!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
<div class="card-body"> <div class="time_display">
   <h1>  Date: {{ display_time }}  </h1>
</div> <!-- time ends here -->
</div> <!-- card for time ends here -->
<!-- Time code ends here  -->
<br/>
                    <!-- Home page Welcome message   -->
    <h2> good Job by from Eseflow Tech  </h2>
    <h3>  WEBSITE AND SOFTWARE DEVELOPMENT </h3>

<h2>Turning creative ideas into real life solution is my main motivation </h2>
<p id="padded-p">Monday Eseinone|| Student of Software Development at Brigham Young University ||
        Creative, hard-working with good leadership skills.A high level of insight in the effective
         use of Growth mind set, in solving thinking errors for the purpose of achieving goals
         and objectives in all aspect’s of life. ||Experiences in Python, HTML,
         and CSS programming language.


 </p>
</div> <!-- card body div closes here -->
<br/>
<!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
        <!-- card content code goes here -->
<!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->

    <section>
        <div class="grid-contaioner">
<!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->

        <!-- grid items code goes here -->
        <div class="card-body">
        <div class="grid-item">
            <br/>
            <h2> SAMPLE PROJECT </h2>
            <p> Watch the video below to see one of my expenses
                tracker application built with Python programming.
            <br/>



                <iframe width="500px" height="315px"
                src="https://www.youtube.com/embed/ReGDSu6GWwY?si=oQJO--FOUfXCykyC" title="YouTube video player"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen></iframe>

              <h2 ><a href="{{ url_for('income')}}" class="btn btn-primary">Expenses Tracker  </a> </h2>
              <br>


            </div>
        </div>

  <!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->

  <!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->

        <!-- grid items code goes here -->
        <div class="card-body">
             <div class="grid-item">
            <br>

              <h2> WHAT I DO </h2>
              <p>
                  I am into Apps and website development for both small- and large-scale businesses,
                  making good use of the Python programming language, HTML and CSS. My service
                  provides lasting solutions to the challenges faced by most Businesses around the world.
                  Feel free to check out the simple expenses tracker App I built recently. </p>

              <h2 ><a href="{{ url_for('income')}}" class="btn btn-primary">Expenses Tracker  </a> </h2>

              <br/>

            <!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
            </div>
         </div>
<!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
        <!-- card content code goes here -->  <!-- grid items code goes here -->
<!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->

        <div class="card-body">
            <div class="grid-item">
                <br/>

                  <h1> MANAGEMENT APP  </h1>

                  <p> Getting an app to help manage your business is one of
                        the most inportant aspect of a business plan in 2024.
                  </p>

                  <img  src="https://res.cloudinary.com/dcxluplnr/image/upload/t_Thumbnail/v1713377500/022_wanvui.png" id="grid-small-img"  alt="Monday Eseinone">


            </div>
        </div>

 <!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
        <!-- card content code goes here -->
<!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->


<!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
        <!-- card content code goes here -->
<!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->

        <!-- grid items code goes here -->
        <div class="card-body">
              <div class="grid-item">

                    <img src="static/images/009.jpg" id="grid-small-img" alt="Monday Eseinone">

                  <h2> Dynamic Website   </h2>

                 <p> Every business needs a website to
                       grow and to expand their reach to potential clients around the
                       world.<!-- a good website will always help increase sales, and customers
                       certisfaction that includes boosting the revenue of the business.
                       so, it is very inportant to have a good website for your business.-->
                  </p>

            </div>
             </div>

<!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
        <!-- card content code goes here -->
<!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->



        </div>
    </section>

<!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
        <!-- card content code goes here -->
<!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
    <div class="card-body">
        <br/>
                                <!-- Home page Welcome message   -->
                <h2>  GOALS</h2>

                <p id="padded-p">
                         My major goal is to help as many Businesses and individuals as
                         possible with the use of modern technology to achieve success in
                         their business.
                        I am passionate about making good use of the Python programming language,
                         HTML and CSS to build dynamic websites, mobile responsive and interactive web apps,
                        for the purpose of solving  real-life problems.

                </p>

    </div> <!-- card body div closes here -->
    <br/>

<!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
        <!-- card content code goes here -->
<!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
    <div class="card-body">
        <br/>
       <!-- <a href="#" class="btn btn-primary">Connect with US </a>-->
        <a href="{{ url_for('class1')}}" class="btn btn-primary">Blog </a>
        <a href="{{ url_for('contact')}}" class="btn btn-primary">Contact </a>
        <a href="{{ url_for('signup')}}" class="btn btn-primary">Tutorials </a>
        <a href="{{ url_for('it_class')}}" class="btn btn-secondary">VIDEOS</a>
        <a href="{{ url_for('signup')}}" class="btn btn-secondary">signup</a>
       <!--  <a href="{{ url_for('signin')}}" class="btn btn-secondary">signin</a>-->
       <!-- <a href="{{ url_for('upload_file')}}" class="btn btn-secondary">upload_file</a>-->
       <!-- <a href="{{ url_for('admin')}}" class="btn btn-secondary">Admin</a>-->
        <!-- link to other pages ends here  -->

    </div> <!-- card body div closes here -->
    <br/>
<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  -->



</div> <!-- container div closes here -->

        {% endblock %}

