{% extends "base.html" %}
{% block title %}WELCOME TO MONDAY MEDIA BLOG {% endblock %}

{% block content %}

<div class="container">
        <div class="card-body">
                <!-- This code will display the time and date -->
                <div class="time_display">
                        <!--<h1> ABOUT  Monday Eseinone - | - Date: {{ display_time }} </h1>-->
                        <h1> ABOUT</h1> 
                </div>  <!-- time ends here -->
                <!-- About  page Welcome message   -->
                <p class="pading-p-class"> </p>
        </div> <!-- card body stops here  -->
        <section>
                <div class="grid-contaioner">
                <!-- grid items code goes here -->
                        <div class="grid-item">
                        <h2>Monday Eseinone </h2>
                        <img src="https://res.cloudinary.com/dcxluplnr/image/upload/v1700416114/IMG-20231105-WA0009-removebg-preview_cw9f4i.png" id="grid-profile-img" alt="Monday Eseinone"> 
                        </div>

                        <!-- grid items code goes here -->
                        <div class="grid-item">
                                <h3> Who is Monday Eseinone </h3>
                                <p> I'm Monday Eseinone, a driven and passionate individual from Lagos, 
                                        Nigeria, with a strong enthusiasm for learning and growth in the 
                                        field of technology. As a fast learner, I'm committed to becoming 
                                        a skilled software developer, making meaningful contributions to 
                                        companies in Nigeria and beyond. <br/> I'm currently pursuing an 
                                        online degree in software development, dedicated to honing my skills
                                         and staying up-to-date with industry trends. My ultimate goal is 
                                         to leverage my expertise to drive innovation and growth in
                                          the tech industry.</p>
                        </div>

                        <!-- grid items code goes here -->

                        <div class="grid-item">
                                <h2>GET IN TOUCH </h2>
                                <p> Feel free to reach out to me through my social media links. I'm excited
                                        to collaborate, share ideas, and explore opportunities 
                                         for mutual growth and success.</p>

                                <!--<img  src="static/images/002.jpg" id="grid-small-img"  alt="Monday Eseinone">-->
                        </div>
                

                        <!-- grid items code goes here -->
                        <div class="grid-item">
                                <h2> INPORTANT LINKS </h2>
                                <p><a href="https://wa.link/652x5i">  WhatsApp  </a></p>
                        </div>

                </div>
        </section>

        <!--<div class="card-body">
                <h2>THE JOURNEY</h2>
                <p id="padded-p"> My programming journey started Years back when I was at the polytechnic,
                        I was much more interested in doing computer related stuffs, even when I was a business student.
                        During the course of years, consistent learning and dedication to doing what I am passionate about,
                        has enable me learn some few programming languages which includes
                        HTML, CSS, Python, and little bit of the Java Script.</p>



        </div>-->
        <!-- card content code goes here -->
        <div class="card-body">
                <img src="static/images/001.jpg"  id="grid-big-img" alt="monday ese 2">
        </div>


</div> <!-- container close div -->
{% endblock %}


