{% extends "base.html" %}
{% block title %}WELCOME TO MONDAY MEDIA BLOG {% endblock %}

{% block content %}

<div class="container">
        <div class="card-body">
                <!-- This code will display the time and date -->
                <div class="time_display">
                        <!--<h1> ABOUT  Monday Eseinone - | - Date: {{ display_time }} </h1>-->
                        <h1> ABOUT</h1> 
                </div>  <!-- time ends here -->
                <!-- About  page Welcome message   -->
                <p class="pading-p-class"> </p>
        </div> <!-- card body stops here  -->
        <section>
                <div class="grid-contaioner">
                <!-- grid items code goes here -->
                        <div class="grid-item">
                                <img src="https://res.cloudinary.com/dcxluplnr/image/upload/v1700416114/IMG-20231105-WA0009-removebg-preview_cw9f4i.png" id="grid-profile-img" alt="Monday Eseinone"> 
                                <h2>Monday Eseinone </h2>
                        </div>

                        <!-- grid items code goes here -->
                        <div class="grid-item">
                                <h3> Who is Monday Eseinone </h3>
                                <p> I'm Monday Eseinone, a driven and passionate individual from Lagos, 
                                        Nigeria, with a strong enthusiasm for learning and growth in the 
                                        field of technology. As a fast learner, I'm committed to becoming 
                                        a skilled software developer, making meaningful contributions to 
                                        companies in Nigeria and beyond. <br/> I'm currently pursuing an 
                                        online degree in software development, dedicated to honing my skills
                                         and staying up-to-date with industry trends. My ultimate goal is 
                                         to leverage my expertise to drive innovation and growth in
                                          the tech industry.</p>
                                          <h2> GET IN TOUCH </h2>
                                          <p><a href="https://wa.link/652x5i">  WhatsApp  </a></p>
                        </div>



                </div>
        </section>
        <!-- card content code goes here -->
        <div class="card-body">
                <img src="static/images/001.jpg"  id="grid-big-img" loading="lazy" alt="bed fram 2">
        </div>


</div> <!-- container close div -->
{% endblock %}


