<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home| Monday Eseinone  </title>
    <meta name="description"
        content=" A Professional Landing Page by Monday Eseinone, an online Student at Brigham Young University 2024.">
    <meta name="author" content="Monday Erirore Eseinone">
    <!-- Required meta tags -->


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
     rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

      <!-- Social ico CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



     <title>
            {% block title %}GENERIC MEDIA TITLE {% endblock %}

    </title>
    </head>
    <body>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                <a class="navbar-brand" href="/">MD</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('index')}}">Home</a>
                    <a class="nav-link" href="/about">About</a>
                 <!--  <a class="nav-link active" aria-current="page" href="{{ url_for('login')}}">login</a> -->
                    <a class="nav-link" href="{{ url_for('contact')}}"> Contact</a>
                    <!--<a class="nav-link" href="{{ url_for('income')}}"> Inc_calculator</a>-->
                    <!--<a class="nav-link" href="{{ url_for('it_class')}}"> it_class</a>-->
                  <!-- <a class="nav-link" href="{{ url_for('design')}}"> Design</a> -->
                  <!-- <a class="nav-link" href="{{ url_for('login')}}"> login</a> -->
                    <a class="nav-link" href="{{ url_for('stools')}}"> Side Stool / Table</a>
                    <a class="nav-link" href="{{ url_for('user_design')}}"> All Furniture / Measurement</a>
                    <!--<a class="nav-link" href="{{ url_for('alluser')}}"> Alluser / Table</a>-->
                    <!--<a class="nav-link" href="{{ url_for('admin')}}"> admin / Table</a>-->
                    <!--<a class="nav-link" href="{{ url_for('signin')}}"> signin</a>-->
                    </div>
                </div>
                </div>
            </nav>
            <div class="container">
               <h4> EseFlow-Tech  </h4>

        {% block content %}


        {% endblock %}

   <!-- Footers code starts here  -->

   <section>
    <div class="footer">
        <div class="footer-item">
            <img src="https://res.cloudinary.com/dcxluplnr/image/upload/t_Profile/v1712531830/018_ar8inb.png" alt="Monday eseinone" width="30" height="30">
            <h1> Ese-Tech</h1>
            <p><b>App Developement</b></p>
            <p><b>Website Design </b></p>
            <p><b>Graphic Design</b></p>
        </div>
        <div class="footer-item">
            <img src="https://res.cloudinary.com/dcxluplnr/image/upload/t_Profile/v1712532127/017_w9jkhi.png"  alt="Monday eseinone" width="30" height="30">
            <h1>Quick Links </h1>
            <a href="{{ url_for('about')}}"> <p id="colored_p"><b>About Us</b></p></a>
            <a href="{{ url_for('about')}}"> <p id="colored_p">Privacy Policy</p></a>
            <a href="{{ url_for('about')}}"> <p id="colored_p">Terms & Conditions</p></a>

            <br>
            <div class="copyright-d">
            <hr style="color: red; length: 100px;">

            <h3 id="colored_p">COPYRIGHT© 2023-MondayEseinone</h3>
            </div>


        </div>
        <div class="footer-item">
            <img src="https://res.cloudinary.com/dcxluplnr/image/upload/t_Profile/v1698667775/a-picture-of-a-brain-with-a-thought-bubble-filled-with-positive-words-sf-intricate-artwork-masterp_5_e1foc9.png" alt="Monday eseinone" width="30" height="30">
            <h1> CONTACT </h1>
            <p id="colored_wheat">+234 807 523 6542</p>
            <p><b>Email:</b><i></i> eesinone@gmail.com</i></p>
            <p><b>Address:</b><i></i> Bwari Abuja Nigeria </i></p>

            <br/>
            <div class="copyright-mobile">
            <hr style="color: red; length: 100px;">

            <h3 id="colored_p">COPYRIGHT© 2023-EseFlow-Tech</h3>
            </div>


            <!-- Add font awesome icons -->
                <a href="https://www.facebook.com/monday.eseinone/" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="https://www.linkedin.com/in/monday-eseinone?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="fa fa-linkedin"></a>

        </div>

    </div>
</section>

<!-- Footers code ends here -->


        </div>

        <script src="static/script.js" defer></script>
        <link rel="stylesheet" href="{{ url_for('static', filename ='/css/style.css')}}">

        <!--     <link rel="stylesheet" href="{{ url_for('static', filename ='/css/style.css')}}">-->

          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
           integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

           <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
           <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </body>

</html>

