{% extends "base.html" %}
{% block title %} {{ title }} {% endblock %}

        {% block content %}


  <div class="container">
    <!--   image gallery  -->
    <style>
      div.gallery {
        border: 1px solid #ccc;
        border-radius: 10px;

      }

      div.gallery:hover {
        border: 1px solid #777;
      }

      div.gallery img {
        width: 100%;
        height: auto;
        border-radius: 10px;

      }

      div.desc {
        padding: 15px;
        text-align: center;
        color: blue;
      }

      * {
        box-sizing: border-box;
      }

      .responsive {
        padding: 0 6px;
        float: left;
        width: 24.99999%;
      }

      @media only screen and (max-width: 700px) {
        .responsive {
          width: 49.99999%;
          margin: 6px 0;
        }
      }

      @media only screen and (max-width: 500px) {
        .responsive {
          width: 100%;
        }
      }

      .clearfix:after {
        content: "";
        display: table;
        clear: both;
      }
      </style>
      </head>
      <body>

<!-- card content code goes here -->
<!--======================================================-->
<div class="card-body">

<div class="card-body"> 

  <div class="time_display">
   <h1>  Wood Calculator  </h1>
  </div> <!-- time ends here -->

  </div> <!-- card for time ends here --> <!-- Time code ends here  -->
  <br/>

{{ username }}
{{ useremail }}
    <!-- Home page Welcome message   -->
    <h2> | Total Board Calculation |   </h2>
<br/>
 

<div class="card-body">

<!--   table 1 starts here -->
<!--   This table displayed the input got from users to the screen -->
<table class="table table-dark table-striped">
<thead>
<tr>
<th style="padding-left: 20px;" class="th" scope="col">PROJECT NAME</th>
<th style="padding-left: 20px;" class="th" scope="col">Number of Board Used </th>



</tr>
</thead>
<tbody>
<tr>
<td style="padding-left: 20px;" >{{ project_name }}</td>
<td style="padding-left: 20px;" >{{display_board_used}} </td>


</tr>
</tbody>
</table>

<!--   table 1 starts here -->
<!--   This table displayed the input got from users to the screen -->
<table class="table table-dark table-striped">
<thead>
<tr>
  <th style="padding-left: 20px;" scope="col"> Date/Time </th>
<th style="padding-left: 20px;" scope="col"> Standard Measurement</th>

</tr>
</thead>
<tbody>
<tr>
  <td style="padding-left: 20px;">{{ display_time }}</td>
  <td style="padding-left: 20px;">(240x120){{ standard_board_measurement }}</td>

</tr>
</tbody>
</table>


<!--   table 1 starts here -->
<table class="table table-dark table-striped">
<thead>
<tr>
<th style="padding-left: 20px;" scope="col"> Total Area of board </th>
<th style="padding-left: 20px;" scope="col"> Total Area of board </th>
<th style="padding-left: 20px;" scope="col"> Total Area of board</th>

</tr>
</thead>
<tbody>
<tr>
<td style="padding-left: 20px;"> {{display_total_sq_area_measurement}}</td>
<td style="padding-left: 20px;"> {{display_total_sq_area_measurement}}</td>
<td style="padding-left: 20px;"> {{display_total_sq_area_measurement}}</td>

</tr>
</tbody>
</table>

</div>
<br/>
<h3> Phone Number: 08075236542 </h3>
</div> <!-- card body div closes here -->
<br/>


      <div class="responsive">
        <div class="gallery">
          <a  href="{{ url_for('it_class')}}">
            <img src="static/images/023.jpeg" alt="ese video" width="600" height="400">
          </a>
          <div class="desc">VIDEOS</div>
        </div>
      </div>


      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="#">
            <img src="static/images/024.jpeg" alt="Forest" width="600" height="400">
          </a>
          <div class="desc">E1</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="#">
            <img src="static/images/029.png" alt="Forest" width="600" height="400">
          </a>
          <div class="desc">E1</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="#">
            <img src="static/images/030.png" alt="Forest" width="600" height="400">
          </a>
          <div class="desc">E1</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="#">
            <img src="static/images/004.jpg" alt="Forest" width="600" height="400">
          </a>
          <div class="desc">E1</div>
        </div>
      </div>



      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="#">
            <img src="static/images/005.jpg" alt="Northern Lights" width="600" height="400">
          </a>
          <div class="desc">T1</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="#">
            <img src="static/images/018.png" alt="Mountains" width="600" height="400">
          </a>
          <div class="desc">B1</div>
        </div>
      </div>

      <div class="clearfix"></div>



 <!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
        <!-- card content code goes here -->
<!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->

    <div class="card-body">
        <h2>THE CODING JURNEY</h2>

        <p id="padded-p"> My programming journey started Years back when I was at the polytechnic,

        I was much more interested in doing computer related stuff, even when I was a business student. As years
        goes by, through consistent learning and dedication to doing what I am passionate about, I was able
        to learn some few programming language which includes HTML, CSS, Python, and little bit of the Java Script.
        </p>



    </div>
<br/>




    </div>

<!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->


        {% endblock %}