{% extends "base.html" %}
{% block title %}WELCOME TO MONDAY MEDIA BLOG {% endblock %}


{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for msg in messages %}
    <p>{{msg}}</p>
    {% endfor %}
{% endif %}
{% endwith %}

        <div class="container">



<!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
        <!-- card content code goes here -->
<!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
        <div class="card-body">

<!-- This code will display the time and date -->
<!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
        <!-- card content code goes here -->   <!-- This code will display the time and date -->
<!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
<div class="card-body"> <div class="time_display">
   <h1>  Contact Me </h1>
</div> <!-- time ends here -->
</div> <!-- card for time ends here -->
<!-- Time code ends here  -->
<br/>
                    <!-- Home page Welcome message   -->
    <h2> Email Address: eeseinone@gmail.com  </h2>
    <h3> <img src="https://res.cloudinary.com/dcxluplnr/image/upload/t_Profile/v1712531830/018_ar8inb.png" alt="Monday eseinone" width="30" height="30"> Phone Number: 08075236542, 07044484120</h3>

    <h2> WhatsApp Number:  +2348075236542. </h2>
</div> <!-- card body div closes here -->
<br/>

 <section>
        <div class="grid-contaioner">
<!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
        <!-- card content code goes here -->   <!-- This code will display the time and date -->
<!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
<!--  form starts here 
<div class="form_center">
    <h1> Contact </h1>
    <form action="/class_room" method = "POST">
        <p>Name: <input class="mo" type = "text" name = "user_name" /></p>
        <p>Email: <input class="mo" type = "email" name = "user_email" /></p>
        <p>Phone:<input class="mo" type = "text" name = "user_phone" /></p>
        <p>Age -- :<input class="mo" type = "number" name = "user_age" /></p>

        <p><input type = "submit" class="submit" value = "submit" /></p>
    </form>
</div> form ends here  -->



 </div>   <!--   Grid container ends here -->
    </section>
</div> <!-- container div closes here -->




{% endblock %}

