{% extends "base.html" %}
{% block title %}LOGIN PAGE {% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for msg in messages %}
    <p>{{msg}}</p>
    {% endfor %}
{% endif %}
{% endwith %}

<div class="container">
  
    <p style="background-color:
        green; border: 1px solid black;
        padding: 2px; text-align: center; color: white; width: 300px; box-shadow: 1px 1px 4px 2px;"> Income:   #{{ cleint_income }} || {{ total_percent_income }}% </p>
        
    <p style="background-color:
    hsl(63, 100%, 52%); border: 1px solid black;
    padding: 2px; text-align: center; width: 300px; box-shadow: 1px 1px 4px 2px;"> Total Expences:   #{{ cleint_expencse }} || {{ expense_amount_percent }}%</p>

    <p style="background-color:
        purple; border: 1px solid black;
        padding: 2px; text-align: center; color: white; width: 300px; box-shadow: 1px 1px 4px 2px;"> Balance/Savings:    #{{ total_calulation }} || {{ expences_percent }}%</p>

        <div class="card-body">

      <!--   table 1 starts here -->
      <!--   This table displayed the input got from users to the screen -->
<table class="table table-dark table-striped">
    <thead>
        <tr>
        <th style="padding-left: 20px;" class="th" scope="col">NAME</th>
        <th style="padding-left: 20px;" scope="col"> Income</th>

        </tr>
    </thead>
    <tbody>
        <tr>
        <td style="padding-left: 20px;" >{{ cleint_name }}</td>
        <td style="padding-left: 20px;">#{{ cleint_income }}</td>

        </tr>
    </tbody>
        </table>

<!--   table 1 starts here -->
<!--   This table displayed the input got from users to the screen -->
<table class="table table-dark table-striped">
  <thead>
      <tr>
      <th style="padding-left: 20px;" class="th" scope="col">Tithe Offering </th>
      <th style="padding-left: 20px;" scope="col"> Date/Time </th>

      </tr>
  </thead>
  <tbody>
      <tr>
      <td style="padding-left: 20px;" >#{{ cleint_tithe }}</td>
      <td style="padding-left: 20px;">{{ display_time }}</td>

      </tr>
  </tbody>
      </table>


<!--   table 1 starts here -->
<table class="table table-dark table-striped">
  <thead>
      <tr>
      <th style="padding-left: 20px;" scope="col">Feeding Exp</th>
      <th style="padding-left: 20px;" scope="col"> Rent Exp</th>
      <th style="padding-left: 20px;" scope="col">Eating Out Exp</th>

      </tr>
  </thead>
  <tbody>
      <tr>
      <td style="padding-left: 20px;"> #{{ cleint_feeding }}</td>
      <td style="padding-left: 20px;"> #{{ cleint_rent }}</td>
      <td style="padding-left: 20px;"> #{{ cleint_out }}</td>

      </tr>
  </tbody>
      </table>
    
      <!--   table 3 starts here -->
    <table class="table table-dark table-striped">

        <thead>
          <tr>
             <th style="padding-left: 20px;" scope="col">Soft Drink</th>
            <th style="padding-left: 20px;" scope="col">Others:</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="padding-left: 20px;"> #{{ cleint_soft }}</td>
            <td style="padding-left: 20px;" > #{{ cleint_others }}</td>
          </tr>
        </tbody>
          </table>

              <!--   table 4 starts here -->
              <table class="table table-dark table-striped">
                <thead>
                  <tr>
                    <th style="padding-left: 20px;" scope="col">Total Income:</th>
                    <th scope="col">Total Exp:</th>
                    <th scope="col"> Balance for {{ cleint_name}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="padding-left: 20px;"> #{{ cleint_income}}</td>
                    <td>   #{{ cleint_expencse }}</td>
                    <td>   #{{ total_calulation }} </td>
                  </tr>

                </tbody>
                  </table>

                </div>

  <div class="card-body">

  <p id="padded-p2"> {{ cleint_name}} {{ user_savings }} </p>

  <p id="padded-p2">  #{{ cleint_income}}  is  {{ total_percent_income }}% of your total Income.  </p>
  <p id="padded-p2">  #{{ total_calulation }} is what is left from your income and it is {{ expences_percent }}%  after your expenses of  {{ cleint_expencse }} </p>
  <p id="padded-p2">Please Note that you have just spent  {{ cleint_expencse }} which is  {{  expense_amount_percent }}% of your total Income  </p>

  
  <br/>
</div>
</div>
{% endblock %}