{% extends "base.html" %}
{% block title %} {{ title }} {% endblock %}

        {% block content %}


  <div class="container">
    <!--   image gallery  -->
    <style>
      div.gallery {
        border: 1px solid #ccc;
        border-radius: 10px;

      }

      div.gallery:hover {
        border: 1px solid #777;
      }

      div.gallery img {
        width: 100%;
        height: auto;
        border-radius: 10px;

      }

      div.desc {
        padding: 15px;
        text-align: center;
        color: blue;
      }

      * {
        box-sizing: border-box;
      }

      .responsive {
        padding: 0 6px;
        float: left;
        width: 24.99999%;
      }

      @media only screen and (max-width: 700px) {
        .responsive {
          width: 49.99999%;
          margin: 6px 0;
        }
      }

      @media only screen and (max-width: 500px) {
        .responsive {
          width: 100%;
        }
      }

      .clearfix:after {
        content: "";
        display: table;
        clear: both;
      }
      </style>
      </head>
      <body>

<!-- card content code goes here -->
<!--======================================================-->
<div id="printableArea">
<div class="card-body">

<div class="card-body"> 

  <div class="time_display">
   <h1> Result for  Wardrobe Calculated  </h1>
  </div> <!-- time ends here -->

  </div> <!-- card for time ends here --> <!-- Time code ends here  -->
  <br/>
  
{{ username }}
{{ useremail }}
    <!-- Home page Welcome message   -->

    <h2> | Furniture |   </h2>
<br/>
 
<div class="furniture-table"> 
<table class="table table-dark table-striped" class="inner_black_table">
    <thead>
        <tr>
        <th class="th" scope="co3">PROJECT NAME</th>
        <th class="th" scope="co3">Date/Time</th>
        </tr>
        </thead>
    <thead>
        <tbody>
            <tr>
            <td> {{project_name}}</td>      
            <td> {{display_time}}</td>      
            </tr>
    </tbody>
    <br/>
    <tr>
    <th class="th" scope="col">standing</th>
    <th class="th" scope="col">Quantity</th>
    
    </tr>
    </thead>
<tbody>
    <tr>
    <td> {{total_hight}}</td>
    <td> {{h_standing}} </td>
  
    </tr>
    </tbody>

<thead>
    <tr>
    <th class="th" scope="col">Inner Shelves </th>
    <th class="th" scope="col">Quantity</th>
    
    </tr>
    </thead>
<tbody>
    <tr>
    <td> {{demacation_cutting_total}}</td>
    <td>{{number_of_dimacation}}</td>
    </tr>
    </tbody>

<!--   partationing -->
<thead>
    <tr>
    <th class="th" scope="col">Middle Divider</th>
    <th class="th" scope="col">Quantity</th>
    
    </tr>
    </thead>
<tbody>
    <tr>
    <td> {{partation_hight}}</td>
    <td>{{number_of_partation_c}}</td>
    </tr>
    </tbody>

<!--  all 4  pannel -->
<thead>
    <tr>
    <th class="th" scope="col">Top and Buttom pannel</th>
    <th class="th" scope="col">Quantity</th>
    
    </tr>
    </thead>
<tbody>
    <tr>
    <td> {{down_and_top_pannel}}</td>
    <td>{{all_4_pannel}}</td>
    </tr>
    </tbody>

<!-- Long Door (1) measurement  -->
<thead>
    <tr>
    <th class="th" scope="col"> Long Door</th>
    <th class="th" scope="col">Quantity</th>
    
    </tr>
    </thead>
<tbody>
    <tr>
    <td> {{door_one}}</td>
    <td>{{door_one_quantity}}</td>
    </tr>
    </tbody>

<!--  Door Short  -->
<thead>
    <tr>
    <th class="th" scope="col"> Short Door</th>
    <th class="th" scope="col">Quantity</th>
    
    </tr>
    </thead>
<tbody>
    <tr>
    <td> {{door_two}}</td>
    <td>{{door_two_quantity}}</td>
    </tr>
    </tbody>
</table>

</div>
</div> <!-- card body div closes here -->

<div class="card-body">
<!--  List -->
<div  class="list-class">
    
    <h2> Catting List </h2>
    <ol class="b">
      <li>PROJECT NAME &#160 &#160 {{project_name}}  ||&#160 &#160  Date/Time &#160 &#160 {{display_time }}</li>
      <li> &#160 &#160     {{total_hight}}   || &#160 &#160  {{h_standing}} pices  </li>
      <li> &#160 &#160      {{demacation_cutting_total}}  || &#160 &#160  {{number_of_dimacation}}pices</li>
      <li> &#160 &#160    {{partation_hight}}     || &#160 &#160 {{number_of_partation_c}} pices </li>
  
        <li> &#160 &#160 {{down_and_top_pannel}}    || &#160 &#160  {{all_4_pannel}} pices </li>
        <li> &#160 &#160 {{door_one}}    ||&#160 &#160  {{door_one_quantity}} pices </li>
        <li> &#160 &#160 {{door_two}}    || &#160 &#160  {{door_two_quantity}} pices </li>
        <li> &#160 &#160 {{adding_cutting_list}}    || &#160 &#160  Total Area of Board used  </li>
        <li> &#160 &#160  Total Number of Board  || &#160 &#160  {{board_value}}  </li>
    </ol>

    <!-- print page button start here -->
  <button onclick="printDiv('printableArea')">Print</button>
    <!-- print page button ends here -->


</div>
</div>
</div>

<div class="card-body">
  <button><a href="download-list-class.txt" download> Download </a> </button>
</div>

      <div class="responsive">
        <div class="gallery">
          <a  href="{{ url_for('it_class')}}">
            <img src="static/images/023.jpeg" alt="ese video" width="600" height="400">
          </a>
          <div class="desc">VIDEOS</div>
        </div>
      </div>


      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="#">
            <img src="static/images/024.jpeg" alt="Forest" width="600" height="400">
          </a>
          <div class="desc">E1</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="#">
            <img src="static/images/029.png" alt="Forest" width="600" height="400">
          </a>
          <div class="desc">E1</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="#">
            <img src="static/images/030.png" alt="Forest" width="600" height="400">
          </a>
          <div class="desc">E1</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="#">
            <img src="static/images/004.jpg" alt="Forest" width="600" height="400">
          </a>
          <div class="desc">E1</div>
        </div>
      </div>



      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="#">
            <img src="static/images/005.jpg" alt="Northern Lights" width="600" height="400">
          </a>
          <div class="desc">T1</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="#">
            <img src="static/images/018.png" alt="Mountains" width="600" height="400">
          </a>
          <div class="desc">B1</div>
        </div>
      </div>

      <div class="clearfix"></div>



 <!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
        <!-- card content code goes here -->
<!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->

    <div class="card-body">
        <h2>THE CODING JURNEY</h2>

        <p id="padded-p"> My programming journey started Years back when I was at the polytechnic,

        I was much more interested in doing computer related stuff, even when I was a business student. As years
        goes by, through consistent learning and dedication to doing what I am passionate about, I was able
        to learn some few programming language which includes HTML, CSS, Python, and little bit of the Java Script.
        </p>



    </div>
<br/>

    </div>

<!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
<script>
  function printDiv(divId) {
      var printContents = document.getElementById(divId).innerHTML;
      var originalContents = document.body.innerHTML;

      document.body.innerHTML = printContents;

      window.print();

      document.body.innerHTML = originalContents;
      window.location.reload(); // Reload to reset the page
  }
</script>

<button onclick="window.print()">Print full page</button>  

        {% endblock %}