{% extends "base.html" %}
{% block title %}WELCOME TO MONDAY MEDIA BLOG 2024 {% endblock %}
{% block content %}
   
    <!-- Home page Welcome message  starts here -->
    <div class="hero"> <!-- hero class starts here -->
        <picture>
            <source srcset="static/images/hero-large2.png" loading="lazy" alt="home page image for background" media="(min-width: 700px)">
            <source srcset="static/images/018.png" media="(min-width: 500px)">
            <img src="static/images/022.png" alt="Income calculator app " width="500" height="600"> 
        </picture>
        
        <h1> Welcome to My World of Code<br>Let's Generate Cutting List Together  </h1>  
    </div>   <!-- hero class ends here -->
    <!-- get in touch starts here  -->
    <div id="get-touch">
        <div class="get-touch-content">
            <div class="row">
                <h3>Quickly calculate measurements and generate</h3>
                <p> a cutting list for any furniture project</p>
            </div>
            <div class="row">
                <div class="button"><a href="{{ url_for('user_design')}}" class="button-exp"> Get Started &#8594;</a></div>
            </div>
        </div>
    </div>
    <div class="container">
        <section>
            <div class="grid-contaioner">
                <div class="grid-item">
                    <div class="grid-img-box">
                        <img src="https://res.cloudinary.com/dcxluplnr/image/upload/v1700416114/IMG-20231105-WA0009-removebg-preview_cw9f4i.png" loading="lazy" id="grid-profile-img" alt="Monday Eseinone">                   
                        <p> Monday Eseinon </p>
                    </div>
                </div>
                <div class="grid-item">
                    <h2> Let's Build Something Together</h2>
                         <b><i> Let's Build Something Together</i> </b>
                         <br/>  Quickly calculate measurements
                         and generate a cutting list for any furniture project. Feel free to explore my website, where I'll be sharing my projects,
                         experiences, and insights in the world of software development.
                          I'm excited to collaborate, share ideas, and explore opportunities
                           for mutual growth and success. Let's connect and build something 
                           amazing together!</p>
                           <p> <a class="nav-link" href="{{ url_for('user_design')}}"> ➡️Get Started</a></p>

                </div>
 

            </div>
        </section>

        <!-- card content code goes here -->
        <div class="card-body">
            <br/>
            <!-- Home page Welcome message   -->
            <h2>My Goals</h2>
            <p class="pading-p-class">
                My major goal is to help as many Businesses and individuals as 
                possible with the use of modern technology to achieve success in 
                their business. I am passionate about making good use of the Python 
                programming language, HTML, and CSS to build dynamic websites, and 
                mobile responsive and interactive web apps, to solve real-life problems.</p>
        </div> <!-- card body div closes here -->


    </div> <!-- container div closes here -->
    {% endblock %}

