{% extends "base.html" %}
{% block title %}WELCOME TO MONDAY MEDIA BLOG 2024 {% endblock %}


    {% block content %}
   
    <!-- Home page Welcome message  starts here -->
    <div class="hero"> <!-- hero class starts here -->
        <img id="home-img" src="static/images/015.png" alt="home page image for background"> 
        <h1> Welcome to My World of Code<br>Let's Build Something Together  </h1>  
    </div>   <!-- hero class ends here -->
    <div class="container">
        <section>
            <!--<h2>  CodeWith Ese <br/> WEBSITE AND SOFTWARE DEVELOPMENT <br/>
                Turning creative ideas into real life solution is my main motivation </h2>-->
            <div class="grid-contaioner">

                <!-- grid items code goes here -->
                <div class="grid-item">
                 
                    <!--  <div class="line"></div> this empty div will creat line in this class -->
                    <h2> Welcome to My World of Code</h2>   
                    <img src="https://res.cloudinary.com/dcxluplnr/image/upload/v1700416114/IMG-20231105-WA0009-removebg-preview_cw9f4i.png" id="grid-profile-img" alt="Monday Eseinone"> 
                    <p>I'm Monday Eseinone, and I'm excited to share
                        my wood calculator project with you</p>
                        <p> <a class="nav-link" href="{{ url_for('user_design')}}"> ➡️Get Started</a></p>
                    <!--<h2 ><a href="{{ url_for('upload_file')}}" class="btn btn-primary"> Upload File </a> </h2>-->
                    <br>
                </div>


                <div class="grid-item">
                    <!-- <div class="line"> </div> this empty div will creat line in this class -->
                    <h2> Generate Your Cutting List </h2>
                    <p>Quickly calculate measurements
                         and generate a cutting list for any furniture project. 
                         <br/>
                         <p> <a class="nav-link" href="{{ url_for('user_design')}}"> ➡️Get Started</a></p>
                         <br/>
                         
                         <b><i> Let's Build Something Together</i> </b>
                         <br/> Feel free to explore my website, where I'll be sharing my projects,
                         experiences, and insights in the world of software development.
                          I'm excited to collaborate, share ideas, and explore opportunities
                           for mutual growth and success. Let's connect and build something 
                           amazing together!</p>
                    <p><a class="nav-link" href="{{ url_for('minor')}}"> Videos </a></p>
                    <br/>
                </div>
                <div class="grid-item">
                  
                   <!--  <div class="line"></div> this empty div will creat line in this class -->
                    <h2> Let's Build Something Together</h2>
                    <p> Feel free to explore my website, where I'll be sharing my projects,
                         experiences, and insights in the world of software development.
                          I'm excited to collaborate, share ideas, and explore opportunities
                           for mutual growth and success. Let's connect and build something 
                           amazing together! </p>
                    <!--<img  src="https://res.cloudinary.com/dcxluplnr/image/upload/t_Thumbnail/v1713377500/022_wanvui.png" id="grid-small-img"  alt="Monday Eseinone">-->
                </div>

                <!-- grid items code goes here -->
                <div class="grid-item">
                    <h2> Dynamic Website   </h2>
                    <!-- <div class="line"></div> this empty div will creat line in this class -->
                    <img src="static/images/009.jpg" id="grid-small-img" alt="Monday Eseinone">
                    <p> Every business needs a website to
                       grow and to expand their reach to potential clients around the
                       world. </p>
                </div>

            </div>
        </section>

        <!-- card content code goes here -->
        <div class="card-body">
            <br/>
            <!-- Home page Welcome message   -->
            <h2>My Goals</h2>
            <p class="pading-p-class">
                My major goal is to help as many Businesses and individuals as 
                possible with the use of modern technology to achieve success in 
                their business. I am passionate about making good use of the Python 
                programming language, HTML, and CSS to build dynamic websites, and 
                mobile responsive and interactive web apps, to solve real-life problems.</p>
        </div> <!-- card body div closes here -->
            <br/>

       <!-- <div class="card-body">
            <br/>
            <a href="{{ url_for('class1')}}" class="btn btn-primary">Blog </a>
            <a href="{{ url_for('contact')}}" class="btn btn-primary">Contact </a>
            <a href="{{ url_for('signup')}}" class="btn btn-primary">Tutorials </a>
            <a href="{{ url_for('it_class')}}" class="btn btn-secondary">VIDEOS</a>
            <a href="{{ url_for('signup')}}" class="btn btn-secondary">signup</a>
        </div>     --><!-- card body div closes here -->
            <br/>

    </div> <!-- container div closes here -->
    {% endblock %}

