{% extends "base.html" %}
{% block title %}view all users{% endblock %}
{% block content %}

<div class="container">
{% if error_statement %}
<p>{{ error_statement }} </p>
{% endif %}

  <div class="card-body">
    <div class="card-body"> <div class="time_display">
    <h1>  Calculate Your Board  </h1>
  </div> 
      {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for msg in messages %}
          <p>{{msg}}</p>
          {% endfor %}
      {% endif %}
      {% endwith %}
  </div>
  <br/>
  <!-- WOOD FORM STARTS HERE  -->
  <div class="wood-form">
    <form  action="/class1" method = "POST">
      <h4> Type your Cutting List</h4>
      <h5> Proj Name: <input type = "text" class="mo" name = "project_name" /><br/> </h5>
      <h5> Lenght 1:<input class="mo" type = "number"  name = "lenght_one" /><br/></h5>
      <h5> Width  1: <input type = "text" class="number" name = "width_one" /><br/> </h5>
      <h5> Quantity 1:<input class="mo" type = "number" name = "quantity_one" /><br/></h5>
      <h5> Lenght 2: <input class="mo"  type = "number"  name = "lenght_two" /><br/></h5>
      <h5> Width 2: <input class="mo" type = "number"  name = "width_two" /><br/></h5>
      <h5> Quantity 2:  <input class="mo" type = "number"  name = "quantity_two" /><br/></h5>
      <button style="width: 100px;" type="submit" class="submit" value"submit">Submit</button>
    </form>
  </div> 

  <div class="card-body">
  <br/>
    <h2>  GOALS</h2>
    <p class="pading-p-class">
              My major goal is to help as many Businesses and individuals as
              possible with the use of modern technology to achieve success in
              their business.
            I am passionate about making good use of the Python programming language,
              HTML and CSS to build dynamic websites, mobile responsive and interactive web apps,
            for the purpose of solving  real-life problems.
    </p>
    </div> 
    <br/>
</div>
{% endblock %}