{% extends "base.html" %}
{% block title %}WELCOME TO MONDAY MEDIA BLOG {% endblock %}

        {% block content %} 
    <div class="container"> 

          <div class="youtube_video">
            <h1>  CodeWith-Ese </h1>

            <iframe width="100%" height="330px"
            src="https://www.youtube.com/embed/ReGDSu6GWwY?si=oQJO--FOUfXCykyC" title="YouTube video player"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write;
            encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>


  

        <!--<div class="alert alert-success d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            <div>
              {% with messages = get_flashed_messages() %}
              {% if messages %}
                  {% for msg in messages %}
                  <p>{{msg}}</p> 
                  {% endfor %}
              {% endif %}
              {% endwith %}
            </div>
          </div>-->   
    </div>
{% endblock %}