{% extends "base.html" %}
{% block title %}WELCOME TO MONDAY MEDIA BLOG {% endblock %}



        {% block content %} 
    <div class="container"> 
        <h2 style="color:rgb(172, 46, 0)"> Minor page  </h2>
        <h1>  DIGITAL WORLD </h1>

        <div class="alert alert-success d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            <div>
              {% with messages = get_flashed_messages() %}
              {% if messages %}
                  {% for msg in messages %}
                  <p>{{msg}}</p> 
                  {% endfor %}
              {% endif %}
              {% endwith %}
            </div>
          </div>
  
    
    
    
    </div>
        {% endblock %}