{% extends "base.html" %}
{% block title %}SIGN IN PAGE {% endblock %}

{% block content %}

<div class="container">
    <div class="card-body">

        <!--   form starts here --> 
        <div class="stool-tables">   
            <form action="/table_display" method="post">
                <h1> Stool / Table Calculator </h1>
                <P> P Name: <input type="text" name="project_name" /> </P> 
                <P>  Lenght : <input type="number" name="table_lenght" /> </P> 
                <P>  Width  : <input type="number" name="table_width" /> </P> 
                <P>  Height : <input type="number" name="table_hight" /> </P> 
                <P>  QUALITY : <input type="number" name="table_quant" /> </P> 
                <button style="width: 100px;" type="submit" class="submit" value"submit">Submit</button>
            </form>
        </div>
        
        <!--{{mesage}}-->
        <!--form ends here--> 
        <p> Stools and Tables  </p>

    </div>
</div>
{% endblock %}