{% extends "base.html" %}
{% block title %} {{ title }} {% endblock %}

        {% block content %}


  <div class="container">
    <!--   image gallery  -->
    <style>
      div.gallery {
        border: 1px solid #ccc;
        border-radius: 10px;

      }

      div.gallery:hover {
        border: 1px solid #777;
      }

      div.gallery img {
        width: 100%;
        height: auto;
        border-radius: 10px;

      }

      div.desc {
        padding: 15px;
        text-align: center;
        color: blue;
      }

      * {
        box-sizing: border-box;
      }

      .responsive {
        padding: 0 6px;
        float: left;
        width: 24.99999%;
      }

      @media only screen and (max-width: 700px) {
        .responsive {
          width: 49.99999%;
          margin: 6px 0;
        }
      }

      @media only screen and (max-width: 500px) {
        .responsive {
          width: 100%;
        }
      }

      .clearfix:after {
        content: "";
        display: table;
        clear: both;
      }
      </style>
      </head>
      <body>

<!-- card content code goes here -->
<!--======================================================-->
<div class="card-body">

<div class="card-body"> 

  <div class="time_display">
   <h1>  Wood Calculator  </h1>
  </div> <!-- time ends here -->

  </div> <!-- card for time ends here --> <!-- Time code ends here  -->
  <br/>

{{ username }}
{{ useremail }}
    <!-- Home page Welcome message   -->
    <h2> | Furniture |   </h2>
<br/>
 

<table class="table table-dark table-striped" class="inner_black_table">
    <thead>
        <tr>
        <th class="th" scope="co3">PROJECT NAME</th>
        <th class="th" scope="co3">Date/Time</th>
        </tr>
        </thead>
    <thead>
        <tbody>
            <tr>
            <td> {{project_name}}</td>      
            <td> {{display_time}}</td>      
            </tr>
    </tbody>
    <br/>
    <tr>
    <th class="th" scope="col">Table / Stool Top</th>
    <th class="th" scope="col">Quantity</th>
    
    </tr>
    </thead>
<tbody>
    <tr>
    <td> {{display_table_top}}</td>
    <td> 1 </td>
  
    </tr>
    </tbody>

<thead>
    <tr>
    <th class="th" scope="col">Table Leg </th>
    <th class="th" scope="col">Quantity</th>
    
    </tr>
    </thead>
<tbody>
    <tr>
    <td> {{dispaly_leg}}</td>
    <td>4</td>
    </tr>
    </tbody>

<!--   partationing -->
<thead>
    <tr>
    <th class="th" scope="col">Stool Connections (Lenght) </th>
    <th class="th" scope="col">Quantity</th>
    
    </tr>
    </thead>
<tbody>
    <tr>
    <td> {{display_stool_connection_lenght}}</td>
    <td>{{stool_conn_quantity}} pices </td>
    </tr>
    </tbody>

<!--  all 4  pannel -->
<thead>
    <tr>
    <th class="th" scope="col">Stool Connections (Width) </th>
    <th class="th" scope="col">Quantity</th>
    
    </tr>
    </thead>
<tbody>
    <tr>
    <td> {{display_stool_connection_width}}</td>
    <td>{{stool_conn_quantity}} pices </td>
    </tr>
    </tbody>

<!-- Long Door (1) measurement  -->
<thead>
    <tr>
    <th class="th" scope="col"> Inner top Connections </th>
    <th class="th" scope="col">Quantity</th>
    
    </tr>
    </thead>
<tbody>
    <tr>
    <td> {{display_stool_connection_lenght}}</td>
    <td>{{stool_conn_quantity}} pices </td>
    </tr>
    </tbody>

<!--  Door Short  -->
<thead>
    <tr>
    <th class="th" scope="col"> Top Lipping (A) (Note compulsory )</th>
    <th class="th" scope="col">Quantity</th>
    
    </tr>
    </thead>
<tbody>
    <tr>
    <td> {{display_top_lipping_a}}</td>
    <td>{{stool_conn_quantity}}  pices </td>
    </tr>
    </tbody>


<!--  Top Connection   -->
<thead>
    <tr>
    <th class="th" scope="col"> Top Lipping (B) (Note compulsory )</th>
    <th class="th" scope="col">Quantity</th>
    
    </tr>
    </thead>
<tbody>
    <tr>
    <td> {{display_top_lipping_b}}</td>
    <td>{{stool_conn_quantity}}   pices </td>
    </tr>
    </tbody>
</table>
</div> <!-- card body div closes here -->

<div class="card-body">
<!--  List -->
<div class="list-class">
    
    <h2> Catting List </h2>
    <ol class="b">
      <li>PROJECT NAME &#160 &#160 {{project_name}}  ||&#160 &#160  Date/Time &#160 &#160 {{display_time}}</li>
      <li> &#160 &#160     {{display_table_top}}   || &#160 &#160  Table top &#160 &#160 1  pices  </li>
      <li> &#160 &#160      {{dispaly_leg}}  || &#160 &#160  Stool Leg || &#160 &#160  4 pices</li>
      <li> &#160 &#160    {{display_stool_connection_lenght}}  ||&#160 &#160 Stool conn (A)  || &#160 &#160 {{stool_conn_quantity}} pices </li>
        <li> &#160 &#160 {{display_stool_connection_width}}  ||&#160 &#160   Stool conn (B) || &#160 &#160  {{stool_conn_quantity}} pices </li>
        <li> &#160 &#160    {{display_stool_connection_lenght}} || &#160 &#160   Inner Top conn  || &#160 &#160 {{stool_conn_quantity}} pices </li>
        <li> &#160 &#160 {{display_top_lipping_a}} || &#160 &#160  Top lipping (A) ||&#160 &#160 {{stool_conn_quantity}} pices </li>
        <li> &#160 &#160 {{display_top_lipping_b}}  || &#160 &#160  Top lipping (B)  ||&#160 &#160 {{stool_conn_quantity}} pices </li>
  
    </ol>

</div>
</div>

      <div class="responsive">
        <div class="gallery">
          <a  href="{{ url_for('it_class')}}">
            <img src="static/images/023.jpeg" alt="ese video" width="600" height="400">
          </a>
          <div class="desc">VIDEOS</div>
        </div>
      </div>


      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="#">
            <img src="static/images/024.jpeg" alt="Forest" width="600" height="400">
          </a>
          <div class="desc">E1</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="#">
            <img src="static/images/029.png" alt="Forest" width="600" height="400">
          </a>
          <div class="desc">E1</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="#">
            <img src="static/images/030.png" alt="Forest" width="600" height="400">
          </a>
          <div class="desc">E1</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="#">
            <img src="static/images/004.jpg" alt="Forest" width="600" height="400">
          </a>
          <div class="desc">E1</div>
        </div>
      </div>



      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="#">
            <img src="static/images/005.jpg" alt="Northern Lights" width="600" height="400">
          </a>
          <div class="desc">T1</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="#">
            <img src="static/images/018.png" alt="Mountains" width="600" height="400">
          </a>
          <div class="desc">B1</div>
        </div>
      </div>

      <div class="clearfix"></div>



 <!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
        <!-- card content code goes here -->
<!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->

    <div class="card-body">
        <h2>THE CODING JURNEY</h2>

        <p id="padded-p"> My programming journey started Years back when I was at the polytechnic,

        I was much more interested in doing computer related stuff, even when I was a business student. As years
        goes by, through consistent learning and dedication to doing what I am passionate about, I was able
        to learn some few programming language which includes HTML, CSS, Python, and little bit of the Java Script.
        </p>



    </div>
<br/>




    </div>

<!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->


        {% endblock %}